@using System.Web.Configuration
@model BusinessInsights.Models.FacebookDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("_DonutChart", @Model.DonoutChartDataViewModel)
    @Html.Partial("_AreaChart", @Model.AreaChartDataViewModel)
</div>

<div class="row">
    <div class="col-sm-12 col-md-2">
        <div class="profile-picture">
            <img src="@Model.Page.ImageURL"/>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        @foreach (var item in Model.Posts)
        {
            @Html.Partial("_Post", item)
        }

    </div>
</div>

